footer {
    background-color: #343A40;
    color: lightblue;
    padding: 15px 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: lightskyblue;
}
main {
    padding: 10px 0;
}
.home {
    height: 50px;
    width: 50px;
}
.about {
    height: 50px;
    width: 50px;
}
.contact {
    height: 50px;
    width: 50px;
}